.proyecto-de-referencia {
    padding-top: 50px;
    margin-top: 400px;
    text-align: center;
    width: 50%;
    height: 600px;
    background-color: #0e6e8b;
    margin-left: 500px;
    border-radius: 10px;
}
.texto-introductivo-referencia {
    border: none;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    background-color: #0e6e8b;
    width: 770px;
    height: 340px;
    color: white;
    padding-bottom: 60px;
}
.enlace-referencia {
    background-color: #0e6e8b;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
}
.enlace-referencia:hover {
    background-color: #9bc0fc;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}