.retos-soluciones {
  margin-top: 400px;
  margin-left: 450px;
  font-family: "Montserrat", sans-serif;
  width: 970px;
  height: 950px;
  background-color: #0e6e8b;
  padding-left: 60px;
  border-radius: 10px;
}
.retos {
  border: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 720px;
  width: 570px;
  background-color: #0e6e8b;
  font-size: 25px;
  padding-left: 120px;
  padding-right: 150px;
}
.retos-soluciones h2 {
  background-color: #0e6e8b;
  width: 570px;
  margin-left: 280px;
  font-size: 30px;
  padding-top: 50px;
}
.retos-soluciones h3 {
  background-color: #0e6e8b;
  width: 570px;
  padding-left: 190px;
  padding-right: 150px;
  padding-bottom: 20px;
  font-size: 25px;
  margin-top: 30px;
  border-bottom: 2px solid #000205;
}
.descripcionReto {
    display: flex;
    flex-direction: row;
}
.buttonRetos {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
