.divLoginGeneral {
    width: 25%;
    height: 600px;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
    background-color: #0e6e8b;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del contenedor */
}

.formularioLogin input {
    margin-top: 40px;
    border-radius: 11px;
    background-color: #9bc0fc;
    font-family: "Montserrat", sans-serif;
}
.formularioLogin button {
    border-radius: 11px;
    font-family: "Montserrat", sans-serif;
    background-color: #9bc0fc;
    color: white;
    font-weight: bold;
    height: 30px;
    margin-left: 150px;
    margin-top: 50px;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}
.fraseBienvenida {
    font-size: 20px;
}